body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  background-color: #0b0d33;
  /* height: 90vh; */
  min-height: 90vh;
}

nav {
  background-color: #01021b;
  height: 50px;
  display: flex;
  /* justify-content: center;*/
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
  nav .namePage {
    color: cadetblue;
    font-size: 1.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
  }
    nav .namePage span {
      padding-right: 15px;
      padding-left: 20px;
    }
    nav .namePage span:nth-child(2){
      font-weight: 100;
      font-size: 1rem;
      color: azure;
      text-align: center;
      justify-content: end;
    }

  nav .links {
    display: flex;
    justify-content: end;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding-left: 12px;
    display: flex;
    flex-direction: row;
  }
  nav ul li {
    padding-right: 25px;
  }
  nav ul li a {
    text-decoration: none;
    color: #b5b6d8;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 200;
    padding: 10px;
  }
  nav ul li a:hover{
    color: aquamarine;
    /* font-size: 1.7rem; */
    border-radius: 20px;
    border: 1px solid slateblue;
    background-color: #202044;
    }

.title-hello {
  color: aquamarine;
  font-size: 5rem;
  text-align: center;
  margin: 0;
}

.about {
  width: 300px;
  height: 200px;
  background-color: #202044;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  border: 1px dotted skyblue;
  position: absolute;
  right: 10px;
  top: 52px;
}
  .about p {
    color: aliceblue;
    font-size: 1.5rem;
    margin: 0;
  }

.disguise {
  display: none;
}

#multiTable {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 15px 15px 15px;
  justify-content: center;
}

.mulTable {
  display: flex;
  flex-direction: column;
  color: aquamarine;
  width: 300px;
  height: 600px;
  background-color: #202044;
  font-size: 2rem;
  font-weight: 100;
  padding: 20px 30px 20px 30px;
  border-radius: 10px;
  border: 1px solid slateblue;
  justify-content: center;
  align-items: center;
}
  .mulTable .titleTable {
    color: #b5b6d8;
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
  }
  .mulTable ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .form-container {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    border: 1px solid slateblue;
    background-color: #202044;
    display: flex;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 200px;
  }
    .form-container form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    textarea:focus,
    input:focus {
      outline: none;
    }
    ::placeholder {
      color: #b5b6d8;
      opacity: 0.8;
    }
    .form-container input {
      background-color: #202044;
      border: 1px solid slateblue;
      border-radius: 20px;
      color: #b5b6d8;
      font-size: 1rem;
      padding-left: 10px;
    }
    .form-container input:nth-child(1){
      width: 200px;
      height: 30px;
    }
    .form-container input:nth-child(3){
      width: 300px;
      height: 100px;
    }


footer {
  background-color: #01021b;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #b5b6d8;
  font-size: 1.3rem;
  font-weight: 500;
}